import /keymint.service.mitee.rc
import /tee-supplicant.rc
import /miteelog.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "11201000.usb0"
    setprop sys.usb.ffs.aio_compat 1
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    setprop crypto.ready 1

on fs
    install_keyring

# We need vold early for metadata encryption
on early-fs
    start vold

on late-fs
    # Mount RW partitions which need run fsck
    mount_all /first_stage_ramdisk/fstab.mt6985 --late

on post-fs
    start boot-hal-1-2
    
    # Support A/B feature for EMMC and UFS boot region
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_ufs_b

    # to access F2FS sysfs on dm-<num> directly
    symlink /sys/fs/mifs/${dev.mnt.dev.data} /dev/sys/fs/by-name/userdata
    symlink /sys/fs/f2fs/${dev.mnt.dev.data} /dev/sys/fs/by-name/userdata

    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0


service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
 service overrideprops /system/bin/overrideprops.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
    
 service mifs_hal /system/bin/mifs_hal.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
 
on property:crypto.ready=1
    start vendor.keymint-mitee

on property:hwservicemanager.ready=true
    start vendor.keymint-mitee
    start vendor.gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop vendor.keymint-mitee
    stop vendor.gatekeeper-1-0
    stop tee-supplicant
    stop miteelog
    
on property:ro.crypto.state=unencrypted
    stop vendor.keymint-mitee
    stop vendor.gatekeeper-1-0
    stop tee-supplicant
    stop miteelog

on property:twrp.decrypt.done=true
    stop vendor.keymint-mitee
    stop vendor.gatekeeper-1-0
    stop tee-supplicant
    stop miteelog
    

on property:crypto.ready=0
    stop vendor.keymint-mitee
    stop vendor.gatekeeper-1-0
    stop tee-supplicant
    stop miteelog

on boot
    start health-hal-2-1
    start mifs_hal
    start overrideprops
    setprop sys.usb.config adb
